#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [31]:
import pandas as pd
import numpy as np
import math

temperaturas   = pd.Series([-0.08,-0.27,0.12,-0.03,0.26,0.4,1.02])

temperaturas

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [62]:
temperaturas   = pd.Series([-0.08,-0.27,0.12,-0.03,0.26,0.4,1.02], 
                    index = ['1900','1920','1940','1960','1980','2000','2020'])

temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [63]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

series_temperaturas = pd.Series(dic_temperaturas)

series_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [64]:
arr = np.random.normal(100, 10, (20,3))
arr

pd.DataFrame(arr)

             0           1           2
0   111.342018  109.197401  111.019469
1    82.101568  101.148745   98.291471
2    89.662396  114.243340   85.455568
3    94.732593  102.357228   87.329470
4   120.578157   96.750523   92.260921
5    98.503300   95.079839   97.878822
6    93.371119   91.093511  107.344466
7   100.642828  109.528629   92.981326
8   121.120533  106.519350   97.334428
9    95.082313   92.626230   94.446923
10   85.079605   97.845817   92.768449
11   78.081750  110.393196  104.513303
12   96.248602  108.988805   92.487370
13  100.806517   93.826974  104.690948
14  131.702319   92.320854   97.074103
15   99.892600  105.256936   99.079063
16   84.670939   94.555021  114.916435
17  108.855841  116.074290   94.468332
18   99.022287  100.770681  109.991696
19  101.539065  110.399696  104.110331

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [65]:
arrayDataFrame         = pd.DataFrame(arr)
arrayDataFrame.index   = (range(1,21))
arrayDataFrame.columns = (["x1","x2","x3"])

arrayDataFrame

            x1          x2          x3
1   111.342018  109.197401  111.019469
2    82.101568  101.148745   98.291471
3    89.662396  114.243340   85.455568
4    94.732593  102.357228   87.329470
5   120.578157   96.750523   92.260921
6    98.503300   95.079839   97.878822
7    93.371119   91.093511  107.344466
8   100.642828  109.528629   92.981326
9   121.120533  106.519350   97.334428
10   95.082313   92.626230   94.446923
11   85.079605   97.845817   92.768449
12   78.081750  110.393196  104.513303
13   96.248602  108.988805   92.487370
14  100.806517   93.826974  104.690948
15  131.702319   92.320854   97.074103
16   99.892600  105.256936   99.079063
17   84.670939   94.555021  114.916435
18  108.855841  116.074290   94.468332
19   99.022287  100.770681  109.991696
20  101.539065  110.399696  104.110331

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [66]:
arrayDataFrame['media'] = ((arrayDataFrame['x1']+arrayDataFrame['x2']+arrayDataFrame['x3'])/3)

arrayDataFrame

            x1          x2          x3       media
1   111.342018  109.197401  111.019469  110.519630
2    82.101568  101.148745   98.291471   93.847261
3    89.662396  114.243340   85.455568   96.453768
4    94.732593  102.357228   87.329470   94.806430
5   120.578157   96.750523   92.260921  103.196534
6    98.503300   95.079839   97.878822   97.153987
7    93.371119   91.093511  107.344466   97.269699
8   100.642828  109.528629   92.981326  101.050928
9   121.120533  106.519350   97.334428  108.324770
10   95.082313   92.626230   94.446923   94.051822
11   85.079605   97.845817   92.768449   91.897957
12   78.081750  110.393196  104.513303   97.662750
13   96.248602  108.988805   92.487370   99.241592
14  100.806517   93.826974  104.690948   99.774813
15  131.702319   92.320854   97.074103  107.032425
16   99.892600  105.256936   99.079063  101.409533
17   84.670939   94.555021  114.916435   98.047465
18  108.855841  116.074290   94.468332  106.466154
19   99.022287  100.770681  109.991696  103.261555
20  101.539065  110.399696  104.110331  105.349697

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [68]:
arrayDataFrame['log_med'] = np.log(arrayDataFrame['media'])
#np.log(arrayDataFrame['Media'])

arrayDataFrame

            x1          x2          x3       media   log_med
1   111.342018  109.197401  111.019469  110.519630  4.705193
2    82.101568  101.148745   98.291471   93.847261  4.541669
3    89.662396  114.243340   85.455568   96.453768  4.569064
4    94.732593  102.357228   87.329470   94.806430  4.551837
5   120.578157   96.750523   92.260921  103.196534  4.636635
6    98.503300   95.079839   97.878822   97.153987  4.576297
7    93.371119   91.093511  107.344466   97.269699  4.577488
8   100.642828  109.528629   92.981326  101.050928  4.615625
9   121.120533  106.519350   97.334428  108.324770  4.685134
10   95.082313   92.626230   94.446923   94.051822  4.543846
11   85.079605   97.845817   92.768449   91.897957  4.520679
12   78.081750  110.393196  104.513303   97.662750  4.581520
13   96.248602  108.988805   92.487370   99.241592  4.597557
14  100.806517   93.826974  104.690948   99.774813  4.602916
15  131.702319   92.320854   97.074103  107.032425  4.673132
16   99.892600  105.256936   99.079063  101.409533  4.619167
17   84.670939   94.555021  114.916435   98.047465  4.585452
18  108.855841  116.074290   94.468332  106.466154  4.667827
19   99.022287  100.770681  109.991696  103.261555  4.637265
20  101.539065  110.399696  104.110331  105.349697  4.657285