## Tarefa ref. Aulas 6 a 8 - leitura e gravação de dados

In [7]:
import pandas as pd
import requests

####  1) Lendo de APIs
Vimos em aula como carregar dados públicos do governo através de um API (*Application Programming Interface*). No exemplo de aula, baixamos os dados de pedidos de verificação de limites (PVL) realizados por estados, e selecionamos apenas aqueles referentes ao estado de São Paulo.

1. Repita os mesmos passos feitos em aula, mas selecione os PVLs realizados por municípios no estado do Rio de Janeiro.
2. Quais são os três *status* das solicitações mais frequentes na base? Quais são suas frequências?
3. Construa uma nova variável que contenha o ano do **status**. Observe que ```data_status``` vem como tipo *object* no **DataFrame**. Dica: você pode usar o método ```.str``` para transformar o tipo da variável em string, em seguida um método como [**slice()**](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.slice.html) ou [**split()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html).
4. Indique a frequência de cada ano do campo construído no item (3).

In [2]:
url   = 'https://dadosabertos.bndes.gov.br/dataset/bce5a865-e766-4a7a-b537-9499c81275b6/resource/08f7a11c-48e0-4d3e-9a75-d95641657ebf/download/aprovacoes-por-uf-aprovacoes.csv'
dados = pd.read_csv(url, sep=';', decimal=',')
dados.head(5)

,ano,mes,acre,amapa,amazonas,para,rondonia,roraima,tocantins,alagoas,...,minas_gerais,rio_de_janeiro,sao_paulo,parana,rio_grande_do_sul,santa_catarina,distrito_federal,goias,mato_grosso,mato_grosso_do_sul
0,1995,1,0.418697,0.0,2.234138,1.846492,1.044738,0.000000,0.435302,3.903460,...,24.211613,121.274922,160.955111,44.503625,37.595270,35.303492,1.943748,8.347732,16.279153,10.268135
1,1995,2,0.045784,0.0,2.745178,42.480852,0.369604,0.000000,0.642143,2.293343,...,26.779819,43.421296,150.042871,30.004889,127.624211,25.617710,6.737180,4.228323,17.336139,2.984955
2,1995,3,0.587931,0.0,4.250384,7.072017,1.884923,0.079669,2.903664,22.916848,...,40.389299,79.260814,195.143627,67.249840,79.493329,61.316904,4.322117,17.286406,40.588880,15.208084
3,1995,4,0.893061,0.0,3.385635,2.735549,1.964266,0.000000,0.455802,3.145561,...,26.271117,27.595696,125.440473,82.144081,32.500986,34.564313,12.238900,55.164136,27.229890,9.656906
4,1995,5,0.000000,0.0,7.201345,2.859487,1.758269,0.276053,1.270201,1.558083,...,35.180446,63.302042,222.393671,81.679989,49.014672,39.639887,4.587146,33.507515,14.406460,6.617256

In [5]:
# 2) Seu código aqui
aprovacoes = pd.read_csv('https://dadosabertos.bndes.gov.br/dataset/bce5a865-e766-4a7a-b537-9499c81275b6/resource/08f7a11c-48e0-4d3e-9a75-d95641657ebf/download/aprovacoes-por-uf-aprovacoes.csv', sep=';', decimal=',')

aprovacoes.head(5)

,ano,mes,acre,amapa,amazonas,para,rondonia,roraima,tocantins,alagoas,...,minas_gerais,rio_de_janeiro,sao_paulo,parana,rio_grande_do_sul,santa_catarina,distrito_federal,goias,mato_grosso,mato_grosso_do_sul
0,1995,1,0.418697,0.0,2.234138,1.846492,1.044738,0.000000,0.435302,3.903460,...,24.211613,121.274922,160.955111,44.503625,37.595270,35.303492,1.943748,8.347732,16.279153,10.268135
1,1995,2,0.045784,0.0,2.745178,42.480852,0.369604,0.000000,0.642143,2.293343,...,26.779819,43.421296,150.042871,30.004889,127.624211,25.617710,6.737180,4.228323,17.336139,2.984955
2,1995,3,0.587931,0.0,4.250384,7.072017,1.884923,0.079669,2.903664,22.916848,...,40.389299,79.260814,195.143627,67.249840,79.493329,61.316904,4.322117,17.286406,40.588880,15.208084
3,1995,4,0.893061,0.0,3.385635,2.735549,1.964266,0.000000,0.455802,3.145561,...,26.271117,27.595696,125.440473,82.144081,32.500986,34.564313,12.238900,55.164136,27.229890,9.656906
4,1995,5,0.000000,0.0,7.201345,2.859487,1.758269,0.276053,1.270201,1.558083,...,35.180446,63.302042,222.393671,81.679989,49.014672,39.639887,4.587146,33.507515,14.406460,6.617256

In [6]:
# 3) Seu código aqui
#aprovacoes.loc[:,'acre':]
aprovacoes.loc[:,'rio_de_janeiro']

0       121.274922
1        43.421296
2        79.260814
3        27.595696
4        63.302042
          ...
307      72.353081
308     225.508665
309     185.423529
310    4028.535908
311     181.133716
Name: rio_de_janeiro, Length: 312, dtype: float64

####  2) Melhorando a interação com o API
Observe dois URLs de consultas diferentes, por exemplo o URL utilizado em aula, e o URL feito no exercício anterior. Compare-os e observe as diferenças.

1. Faça uma função em Python que recebe como argumento o UF da consulta e o tipo de interessado (```'Estado'```ou ```Município```), e que devolve os dados da consulta no formato *DataFrame*.
2. Quantas solicitações para o Estado podem ser consultadas para Minas Gerais com *status* em 'Arquivado por decurso de prazo' estão registradas?
3. Qual é o município da Bahia com mais solicitações deferidas?
4. Salve um arquivo .csv com os dados de solicitações da Bahia, com interessado = 'Estado'

In [173]:
#1) Seu código aqui

In [174]:
# 2) Seu código aqui

In [175]:
# 3) Seu código aqui

In [ ]:
# 4) Seu código aqui